body {	
		background-color: black;
		color:white
	}

h1 {text-align: center;}

#container 	{
				width:33%;
				margin: auto;
			}

.square {
			width: 30%;
			padding-bottom: 30%;
			background-color: purple;
			margin: 1.66%;
			float:left;
			
			
		}
